<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alwy.cashbooksertifikasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cashbooksertifikasi">
        <activity android:name="com.alwy.cashbooksertifikasi.PengeluaranActivity"></activity>
        <activity android:name="com.alwy.cashbooksertifikasi.PemasukanActivity" />
        <activity android:name="com.alwy.cashbooksertifikasi.PengaturanActivity" />
        <activity android:name="com.alwy.cashbooksertifikasi.LoginActivity" />
        <activity android:name="com.alwy.cashbooksertifikasi.DetailActivity" />
        <activity android:name="com.alwy.cashbooksertifikasi.MainActivity">
        </activity>

        <activity android:name="com.alwy.cashbooksertifikasi.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>